# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# JetBrains IDE project config file
.idea/

# SVN
.svn/

# Tmp File
tmp/
*.swp

# python compile bode
*.pyc
/lib/jx_doc
/lib/jx
/lib/jx_ui
/lib/core
/lib/ui