html {overflow:hidden}
body {font-family: 'Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;position: absolute; margin:0; padding:0;width:100%; height:100%;}
canvas {display:block}
p {text-align: center; font-size:12px;color:#454545;}
.skip-btn {
    position: absolute;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 16px;
    bottom: 40px;
    right: 40px;
    background: rgba(10, 10, 10, 0.2);
    -webkit-border-radius: 5px;
    color: #fff;
}
.skip-btn:hover { background: rgba(10, 10, 10, 0.5)}