body {
	margin: 0;
	padding: 10px 30px;
	color: #f1f1f1;
	font-family: 'Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
	font-size: 16px;
	line-height:1.8;
	word-break:break-all;
	word-wrap: break-word;
}

a{
	color: #A4FFFF;
	text-decoration:none;
}
a:focus,
a:hover{
	color: #eeee99;

}


h1 {
	font-size: 2em; 
	font-weight:normal;
	border-bottom: 1px solid #eee;
	line-height: 1.8;
	margin: 0;
}
.docBox {
	padding: 10px 18px;
	background: #236696;
	background: rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	margin-top: 14px;
}

.docBox p{
	text-indent:2em;
}

.docBox a.btn {
	display: inline-block;
	font-size: 12px;
	padding: 4px 10px;
	background: #f3f3f3;
	color: #1968A0;
	text-decoration: none;
	-webkit-border-radius: 4px;
}
.docBox a.btn:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}


 
#frm { 
	position: absolute;
	height: 60%; 
	width: 90%; 
	left: 5%; 
	margin-top: 20px; 
	font-size: 2em; 
	font-weight: normal; 

	overflow: hidden; 

} 
#frm span { 
	position: relative; 
	text-align: center; 
	z-index: 1; 
} 
#mtxform { 
	position: relative; 
	z-index: 10; 
} 
.hidden { 
	visibility: hidden; 
} 

